@page {
  size: 210mm 297mm;
  margin-left: 225mm;
  margin-right: 300mm;
  margin-top: 125mm;
  margin-bottom: 125mm;
}

@media print {
  .no-print, .no-print *,
  otus-script, otus-script *,
  otus-datasource, otus-datasource * {
    display: none !important;
  }
}

@media screen {
  .no-print, .no-print * {
    visibility: visible;
  }

  body {
    margin: 10px 100px 0 100px;
  }
}

otus-script {
  display: none;
}

otus-datasource {
  display: none;
}

.button-print{
  bottom: 5px;
  right: 0;
  position: fixed;
  background-color: #3883ff;
}

.material-icons.white {
  color: #ffffff;
}
