<style>
  .cp-layout {
    display: grid;
    height: 100vh;
    background-color: #f3f3f3;
    grid-template-columns: 9.5fr .5fr;
    grid-template-rows: 1fr .1fr 3fr 3fr 3fr;
    grid-template-areas: "title solicitation" "formContact formContact" "historic historic"
  }

  .title {
    grid-area: title;
    display: flex;
    justify-content: space-between;
  }

  .card-form-contact {
    grid-area: formContact;
    margin: 10px;
  }

  .form-contact {
    display: flex;
    flex-direction: column;
  }

  .historic {
    grid-area: historic;
    margin: 8px;
  }

  .solicitation-subtitle {
    display: flex;
    flex-direction: column-reverse;
    grid-area: solicitation;
    margin: 20px;
  }

  .contactItem {
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
    flex-direction: column;
    justify-content: space-between
  }

  .btn-form-row {
    display: flex;
    flex-direction: row-reverse;
  }

  .historic-panel-title {
    display: flex;
    align-items: baseline;
    margin-top: 1vh;
  }

  .history-subtitle {
    display: flex;
    flex-direction: row-reverse;
    grid-area: subtitle;
    margin-right: 20px;
  }

  .mat-icon-button {
    margin-left: 20px;
  }

  .chip {
    display: flex;
    width: 100px;
  }


</style>


<section class="cp-layout">
  <mat-toolbar class="title">
    <span>Contato com o Projeto</span>
  </mat-toolbar>
  <span class="mat-card-subtitle solicitation-subtitle">Solicitação</span>
  <mat-card class="card-form-contact" *ngIf="!viewCallFormState">
    <mat-card-subtitle>Instruções de Uso</mat-card-subtitle>
    <mat-card-content>
      <p align="justify"><i>Caso esteja acessando este módulo pela primeira vez, e precise contactar-se com o projeto para informar
        alguma anomalia do sistema ou simplesmente tentar solucionar uma dúvida,
        clique no botão "criar chamado" para acessar o formulário de solicitação.
      </i></p>

      <p align="justify"><i>Caso queira somente ver a respostas dos especialistas em relação aos chamados criados, vá para
        a seção de histórico e expanda um ou mais titulos.</i></p>
        <p align="justify">Se necessário tirar mais dúvidas sobre a solução enviada, crie uma nova mensagem com mais detalhes ou sugestões.
        Em "ver +" atualize-se sobre a conversa com todas as mensagens do mesmo chamado.</p>

    </mat-card-content>
    <mat-card-actions class="btn-form-row">
      <button mat-button mat-raised-button color="primary" (click)="changeViewCallFormState()">ABRIR CHAMADO</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card-form-contact" *ngIf="viewCallFormState">
    <form class="form-contact" [formGroup]="projectContactForm" (ngSubmit)="onSubmit()">
      <otus-input-text title="Titulo"
                       controlName="title"
                       [formGroup]="projectContactForm"
                       placeholder="Ex. Atividades não aparecem">
      </otus-input-text>

      <otus-input-text-area title="Descreva a situação"
                            controlName="message"
                            [formGroup]="projectContactForm"
                            rows=3
                            placeholder="Ex. Quando entro no sistema via 3g não estou conseguindo visualizar atividades">
      </otus-input-text-area>
      <div class="btn-form-row">
        <button mat-icon-button type="submit" mat-button color="primary">
          <mat-icon>save</mat-icon>
        </button>

        <button mat-icon-button type="reset" mat-button color="primary" (click)="onReset()">
          <mat-icon>clear</mat-icon>
        </button>

        <button mat-icon-button type="button" mat-button color="primary" (click)="changeViewCallFormState()">
          <mat-icon>undo</mat-icon>
        </button>
      </div>
    </form>

  </mat-card>
  <div class="historic">
    <mat-card-subtitle class="history-subtitle">Histórico</mat-card-subtitle>
    <mat-accordion *ngFor="let contact of projectContacts">
      <mat-expansion-panel class="contactItem" (opened)="ProjectContactItem.loadContactItemContent(contact)">
        <mat-expansion-panel-header>
          <mat-panel-title class="historic-panel-title">
            <mat-chip-list aria-label="status" class="chip">
              <mat-chip color="primary" selected *ngIf="contact.status === 'OPEN'">Aberto</mat-chip>
              <mat-chip color="none" selected *ngIf="contact.status !== 'OPEN'">Fechado</mat-chip>
            </mat-chip-list>
            <span class="mat-card-subtitle">{{contact.title}}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <otus-project-contact-item #ProjectContactItem
                                   [contactItem]="contact">

        </otus-project-contact-item>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
