<style>
  .cp-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr 5fr;
    grid-template-areas:
      "title title title title"
      "formContact formContact formContact formContact"
      "historic historic historic historic"
  }

  .title {
    grid-area: title;
    display:flex;
    justify-content: space-between;
  }

  .card-form-contact {
    grid-area: formContact;
    margin: 10px;
  }

  .form-contact {
    display: flex;
    flex-direction: column;
  }

  .historic {
    grid-area: historic;
  }


</style>


<section class="cp-layout">
  <mat-toolbar class="title">
    <span>Contato com o Projeto</span>
    <button mat-button color="primary">Novo</button>
  </mat-toolbar>

  <mat-card class="card-form-contact">Solicitação de Chamado
    <form class="form-contact" [formGroup]="projectContactForm" (ngSubmit)="onSubmit()">
      <mat-form-field  appearance="legacy">
        <mat-label>Titulo</mat-label>
        <input matInput #input maxlength="120" placeholder="Ex. Não consigo visualizar atividades">
        <mat-hint align="end">{{input.value?.length || 0}}/120</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Descreva a situação</mat-label>
        <textarea matInput rows="5"></textarea>
      </mat-form-field>
      <button type="submit" mat-button color="primary">ENVIAR</button>
    </form>
  </mat-card>
  <mat-card class="historic">Histórico
    <mat-nav-list>
      <mat-list-item *ngFor="let contact of projectContacts">
        <a matLine (click)="viewContact()">{{contact.title}}</a>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-nav-list>

  </mat-card>

</section>
