<style>
  .card-layout {
    display: grid;
    grid-template-columns: 2fr 11fr .5fr;
    grid-template-rows: 1fr .5fr;
    /*box-sizing: border-box;*/

    grid-template-areas:
    "avatar title play"
    ".      description status"
  }

  .avatar {
    grid-area: avatar;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
  }

  .event-title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .event-play {
    grid-area: play;
    display: flex;
    justify-content: center;
  }

  .event-description {
    grid-area: description;
  }

  .event-status {
    grid-area: status;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .event-subtitle {
    color: gray;
  }


  /*@media screen and (max-width: 600px) {*/
  /*  .card-layout {*/
  /*    width: 90vw;*/
  /*  }*/
  /*}*/

</style>


<mat-card class="card-layout">
  <div class="avatar">
    <mat-icon>description</mat-icon>
  </div>

  <div class="event-title">
    <p class="mat-title mb-0 responsive-font" >{{data.acronym}}-{{data.name}}</p>
    <p class="mat-small event-subtitle">Criado em: {{data.date | date : "dd/MM/yyy HH:mm"}}</p>
  </div>

  <div class="event-play">
    <button *ngIf="data.status === 'PENDING'" mat-mini-fab
            matTooltip="Preencher atividade"
            aria-label="Preencher atividade" on-click="callPreview()" [disabled]="data.status === 'ACCOMPLISHED'">
      <mat-icon>play_arrow</mat-icon>
    </button>

    <button *ngIf="data.status === 'REOPENED'" mat-mini-fab
            matTooltip="Repreencher atividade"
            aria-label="Repreencher atividade" on-click="callPreview()" [disabled]="data.status === 'ACCOMPLISHED'">
      <mat-icon>play_arrow</mat-icon>
    </button>

    <button *ngIf="data.status === 'ACCOMPLISHED'" mat-mini-fab
            matTooltip="atividade preenchida"
            aria-label="atividade prenchida" readonly="true" disabled>
      <mat-icon>checked</mat-icon>
    </button>
  </div>

  <p class="event-description  mat-body-strong responsive-font">{{data.description}}</p>
  <p class="event-status mat-body-strong responsive-font"
     [ngStyle]="translatedStatus[data.status].style">{{translatedStatus[data.status].translation}}</p>

</mat-card>
