<mat-card>
  <mat-card-header fxLayoutAlign="center center">
    <div mat-card-avatar>
      <mat-icon>description</mat-icon>
    </div>
    <div fxFlex>
      <mat-card-title>{{data.acronym}}-{{data.name}}</mat-card-title>
      <mat-card-subtitle>Criado em: {{data.date | date : "dd/MM/yyy HH:mm"}}</mat-card-subtitle>
    </div>
    <button *ngIf="translatedStatus[data.status].translation !== 'Realizado'" mat-fab class="mat-mini-fab" matTooltip="Preencher atividade"
            aria-label="Preencher atividade" on-click="callPreview()" [disabled]="data.status !== 'PENDING'">
      <mat-icon>play_arrow</mat-icon>
    </button>

    <button *ngIf= 'translatedStatus[data.status].translation === "Realizado"' mat-fab class="mat-mini-fab" matTooltip="atividade preenchida"
            aria-label="atividade prenchida" readonly="true" disabled>
      <mat-icon>checked</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <p fxFlex="80" fxLayoutAlign="start center">
      {{data.description}}
    </p>
    <p fxFlex="20" fxLayoutAlign="end center" [ngStyle]="translatedStatus[data.status].style">
      {{translatedStatus[data.status].translation}}
    </p>
  </mat-card-content>
</mat-card>
