<style>

</style>

<div class="fixed-top">
<mat-toolbar color="primary" *ngIf="currentUser">
    <div class="icon">
      <button mat-icon-button id="title" routerLink="/dashboard">
        <img src="{{iconToolbar}}">
      </button>
      <span fxHide.lt-md fxHide.md>{{ title }}</span>
    </div>

    <div class="user-name content" fxLayout="row" fxLayoutAlign="center center">
      <mat-icon fxHide.lt-md aria-label="user" style="padding-right: 30px">account_circle</mat-icon>
      <div class="truncate responsive-font">{{ currentUser.name }} </div>
    </div>

    <div class="menu">
      <div fxHide.lt-md fxHide.md>
        <button mat-button routerLink="/project-contact">
          <mat-icon fxLayoutGap="10px">comments</mat-icon>
          <span style="margin-left:5px">Contato</span>
        </button>
        <button mat-button routerLink="/exam-results">
          <mat-icon>description</mat-icon>
          <span style="margin-left:5px">Exames</span>
        </button>
        <button mat-button (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span style="margin-left:5px">Sair</span>
        </button>
      </div>
      <div fxHide.gt-md>
        <button mat-button [mat-menu-trigger-for]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu x-position="before" #menu="matMenu" fxLayoutAlign="center center">
          <button mat-menu-item routerLink="/project-contact">
            <mat-icon>comments</mat-icon>
            Contato
          </button>
          <button mat-menu-item routerLink="/exam-results">
            <mat-icon>description</mat-icon>
            Exames
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon aria-label="menu">exit_to_app</mat-icon>
            Sair
          </button>
        </mat-menu>
      </div>
    </div>
</mat-toolbar>
  <app-alert></app-alert>

    <router-outlet></router-outlet>



</div>



