<style>
  .pci-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr .1fr 1fr .1fr;
    grid-template-areas: "info" "mainMessage" "lastMessage" "message"
  }

  .main-message {
    grid-area: mainMessage;
  }

  .info {
    grid-area: info;
    display: flex;
    justify-content: space-between;
  }

  .last-message-spinner {
    grid-area: lastMessage;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .last-message {
    grid-area: lastMessage;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
  }

  .msg-empty-message {
    text-align: center;
    padding: 10px;
  }

  .message {
    grid-area: message;
  }

  .message-btn {
    display: flex;
    flex-direction: row-reverse;
  }

  .message-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .btn-message-form {
    display: flex;
    flex-direction: row-reverse;
  }

  .mat-icon-button {
    margin-left: 20px;
  }

</style>

<section class="pci-layout">
  <div class="info">
    <span class="mat-body-2 creation-date">{{contactItem.creationDate | date: 'dd/MM/yyyy - HH:mm'}}</span>
    <mat-chip-list aria-label="more info" class="more-info">
      <mat-chip *ngIf="!isEmptyMessages" (click)="goToMessages(contactItem)">ver +</mat-chip>
    </mat-chip-list>
  </div>
  <span class="mat-h4 main-message">{{contactItem.message}}

  </span>
  <div>
    <mat-divider></mat-divider>
    <div class="last-message-spinner" *ngIf="networkLoading">
      <otus-spinner></otus-spinner>
    </div>

    <div class="contactItem msg-empty-message" *ngIf="!networkLoading && isEmptyMessages">
      Em breve responderemos o seu contato.
    </div>

    <div class="last-message" *ngIf="!networkLoading && !isEmptyMessages">
    <span class="mat-card-subtitle">Última mensagem |
      {{contactItem.messages[contactItem.messages.length - 1].creationDate | date:'dd/MM/yyyy - HH:mm' }} |
      {{contactItem.messages[contactItem.messages.length - 1].sender}}
    </span>
      <span align="justify" class="mat-body-2">{{contactItem.messages[contactItem.messages.length - 1].text}}</span>
    </div>
  </div>


  <div class="mat-body-2 message">
    <span class="message-btn">
       <button class="message-btn" *ngIf="!viewMessageFormState" mat-button mat-raised color="primary"
               (click)="changeViewMessageFormState()">MENSAGEM
       </button>
    </span>

    <form class="message-form" *ngIf="viewMessageFormState" [formGroup]="messageForm" (ngSubmit)="onSubmit()">
      <otus-input-text-area title="Escreva uma nova mensagem" class="message-input"
                            controlName="text"
                            [formGroup]="messageForm"
                            rows=3
                            placeholder="Ex. Não funcionou o procedimento, preciso de mais detalhes">
      </otus-input-text-area>
      <div class="btn-message-form">
        <button mat-icon-button type="submit" mat-button color="primary">
          <mat-icon>save</mat-icon>
        </button>

        <button mat-icon-button type="reset" mat-button color="primary" (click)="onReset()">
          <mat-icon>clear</mat-icon>
        </button>

        <button mat-icon-button type="button" mat-button color="primary" (click)="changeViewMessageFormState()">
          <mat-icon>undo</mat-icon>
        </button>
      </div>
    </form>
  </div>
</section>



