<section class="pci-layout">
  <div class="info">
    <span class="mat-body-2 creation-date">{{contactItem.creationDate | date: 'dd/MM/yyyy - HH:mm'}}</span>
    <mat-chip-list aria-label="more info" class="more-info">
      <mat-chip *ngIf="!isEmptyMessages" (click)="goToMessages(contactItem)">{{projectContactValues.tooltip.viewMore}}</mat-chip>
    </mat-chip-list>
  </div>
  <span class="mat-h4 main-message">{{contactItem.text}}

  </span>
  <div>
    <mat-divider></mat-divider>
    <div class="last-message-spinner" *ngIf="networkLoading">
      <otus-spinner></otus-spinner>
    </div>

    <div class="contactItem empty-message" *ngIf="!networkLoading && isEmptyMessages">
      {{projectContactValues.title.withoutMessage}}
    </div>

    <div class="last-message" *ngIf="!networkLoading && !isEmptyMessages">
    <span class="mat-card-subtitle">{{projectContactValues.title.lastMessage}}
      {{contactItem.messages[contactItem.messages.length - 1].creationDate | date:'dd/MM/yyyy - HH:mm'}} |
      {{contactItem.messages[contactItem.messages.length - 1].senderInfo?.fullName}}
    </span>
      <span align="justify" class="mat-body-2">{{contactItem.messages[contactItem.messages.length - 1].text}}</span>
    </div>
  </div>

  <div class="mat-body-2 message">
    <otus-create-message-form [contactItem]="contactItem"
                              (notifyNewMessage)="updateLastMessage($event)">
    </otus-create-message-form>
  </div>
</section>



