$otus-app-primary: mat-palette($mat-teal, 700);
$otus-app-accent: mat-palette($mat-blue-grey, A200, A100, A400);
$otus-app-warn: mat-palette($mat-red);

$otus-app-theme: mat-light-theme($otus-app-primary, $otus-app-accent, $otus-app-warn);
@include angular-material-theme($otus-app-theme);



