.message-btn {
  display: flex;
  flex-direction: row-reverse;
}

.message-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.btn-message-form {
  display: flex;
  flex-direction: row-reverse;
}

.mat-icon-button {
  margin-left: 20px;
}
