<div class="account-page">
  <div class="content">
    <mat-card class="mat-elevation-z11">
      <mat-card-title>{{ title }}</mat-card-title>
      <mat-card-content fxLayout="column">
        <form [formGroup]="recoveryPasswordForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Email" formControlName="email">
              <mat-error i18n="email-login"
                         *ngIf="rpForm.email.hasError('email') && !rpForm.email.hasError('required')">
                Email invalido!
              </mat-error>
              <mat-error *ngIf="rpForm.email.hasError('required')">
                <span [innerHTML]="requiredMessage | sanitizeHtml"></span>
              </mat-error>
            </mat-form-field>
          </p>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <button type="button" mat-icon-button color="primary" (click)="redirectToLogin()">
              <mat-icon>arrow_back</mat-icon>
            </button>
            <div class="button">
              <button [disabled]="loading" type="submit" mat-button fxFlexFill class="mat-raised-button mat-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Enviar Solicitação
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
