.ml-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .1fr auto 1fr;
  grid-template-areas: "header""message""answer";
}

.header {
  margin: 1vh 1vw;
}

.info-contact {
  display: flex;
  align-items: baseline;
  justify-content: space-between
}

.message {
  grid-area: message;
}

.message-card {
  margin: 0px 10px 10px 10px;
}

.issue-info {
  margin: 10px 5px;
}

.answer {
  grid-area: answer;
  margin: 20px 10px;
}

a {
  text-decoration: none;
  color: #000;
}

span.mat-card-subtitle {
  margin-bottom: 0px;
}
