<style>
  .ml-layout {
    background-color: #f3f3f3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 1fr) 1fr;
    grid-template-areas: "header""message"
  }

  .header {
    margin: 1vh 1vw;
  }

  .info-contact {
    display: flex;
    align-items: baseline;
    justify-content: space-between
  }

  .message {
    height: 79vh;
    grid-area: message;
  }
  .message-card {
    margin: 10px;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  span.mat-card-subtitle{
    margin-bottom: 0px;
  }
</style>

<section class="ml-layout">
  <div class="header mat-h3">
    <div class="info-contact">
      <mat-chip-list aria-label="status" class="chip">
        <mat-chip color="primary" selected *ngIf="contact.status === 'OPEN'">Aberto</mat-chip>
        <mat-chip color="none" selected *ngIf="contact.status === 'CLOSE'">Fechado</mat-chip>
        <mat-chip color="warn" selected *ngIf="contact.status === 'FINALIZED'">Finalizado</mat-chip>

      </mat-chip-list>
      <span class="mat-card-subtitle">{{contact.creationDate | date:'dd/MM/yyyy - HH:mm' }}</span>
      <mat-chip-list aria-label="more info" class="more-info">
        <mat-chip><a routerLink="/project-contact">ver -</a></mat-chip>
      </mat-chip-list>
    </div>
    <div>
      <span align="justify" class="mat-h4">{{contact.title}}</span>
      <span align="justify" class="mat-card-subtitle"><em>{{contact.message}}</em></span>
    </div>
    <otus-create-message-form [contactItem]="contact" (notifyNewMessage)="getMessages()"></otus-create-message-form>
  </div>

  <div class="message" *ngIf="networkLoading">
    <otus-spinner></otus-spinner>
  </div>

  <div class="message">
      <mat-card class="message-card" *ngFor="let message of messages">
        <mat-card-subtitle>
          <span>{{message.creationDate| date:'dd/MM/yyyy - HH:mm' }} | </span>
          <span>{{message.sender}}</span>
        </mat-card-subtitle>
        <mat-card-content>
          <span align="justify">{{message.text}}</span>
        </mat-card-content>
      </mat-card>
    </div>
</section>
